name: Trigger ACE Evaluation Framework

on:
  push:
    branches:
        - main
        - action-test

jobs:
  trigger_validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "ace-aali-evalution"

          
      - name: Trigger ACE Evaluation workflow
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ steps.app-token.outputs.token }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/ansys-internal/ace-aali-evalution/dispatches \
            -d '{"event_type": "library-validation", "client_payload":{"library_filter":"pyaedt pymapdl"}}'
